

<div class="main">
  <div class="barra_arriba">
    <table class="w100">
      <tbody>
        <tr>
          <td class="td_top">
            <a>
              <img src="../../../../../assets/img_ticket/a-1.jpg">
            </a>
          </td>
          <td class="td_top">
            <a>
              <img src="../../../../../assets/img_ticket/a-2.jpg">
            </a>
          </td>
          <td class="td_top">
            <a>
              <img src="../../../../../assets/img_ticket/a-3.jpg">
            </a>
          </td>
          <td class="td_top">
            <a>
              <img src="../../../../../assets/img_ticket/a-4.jpg">
            </a>
          </td>
          <td class="td_top">
            <a>
              <img src="../../../../../assets/img_ticket/a-5.jpg">
            </a>
          </td>
          <td class="td_top">
            <a>
              <img src="../../../../../assets/img_ticket/a-6.jpg">
            </a>
          </td>
          <td class="td_top">
            <a>
              <img src="../../../../../assets/img_ticket/a-7.jpg">
            </a>
          </td>
          <td class="td_top">
            <a target="_blank" [routerLink]="['/speechsticket/rene']">
              <img src="../../../../../assets/img_ticket/a-8.jpg">
            </a>
          </td>
          <td class="td_top">
            <a>
              <img src="../../../../../assets/img_ticket/a-9.jpg">
            </a>
          </td>
          <td class="td_top">
            <a>
              <img src="../../../../../assets/img_ticket/a-10.jpg">
            </a>
          </td>
          <td class="td_top">
            <a>
              <img src="../../../../../assets/img_ticket/a-11.jpg">
            </a>
          </td>
          <td class="td_top">
            <a>
              <img src="../../../../../assets/img_ticket/a-12.jpg">
            </a>
          </td>
          <td class="td_top">
            <a>
              <img src="../../../../../assets/img_ticket/a-13.jpg">
            </a>
          </td>
          <td class="td_top">
            <a>
              <img src="../../../../../assets/img_ticket/a-14.jpg">
            </a>
          </td>
          <td class="td_top">
            <a>
              <img src="../../../../../assets/img_ticket/a-15.jpg">
            </a>
          </td>
          <td class="td_top">
            <a>
              <img src="../../../../../assets/img_ticket/a-16.jpg">
            </a>
          </td>
          <td class="td_top">
            <a>
              <img src="../../../../../assets/img_ticket/a-17.jpg">
            </a>
          </td>
          <td class="td_top">
            <a>
              <img src="../../../../../assets/img_ticket/a-18.jpg">
            </a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="second mt-1">

    <div class="barra_izq ">
      <div class="im">
        <a target="_blank" [routerLink]="['/speechsticket/doblepago']">
          <img src="../../../../../assets/img_ticket/b-1.png" alt="">
        </a>
      </div>
      <div class="im">
        <a>
          <img src="../../../../../assets/img_ticket/b-2.png" alt="">
        </a>
      </div>
      <div class="im">
        <a>
          <img src="../../../../../assets/img_ticket/b-3.png" alt="">
        </a>
      </div>
      <div class="im">
        <a>
          <img src="../../../../../assets/img_ticket/b-4.png" alt="">
        </a>
      </div>
      <div class="im">
        <a target="_blank" [routerLink]="['/speechsticket/menu']">
          <img src="../../../../../assets/img_ticket/b-5.jpg" alt="">
        </a>
      </div>
      <div class="im">
        <a target="_blank" [routerLink]="['/speechsticket/sidiosquiere']">
          <img src="../../../../../assets/img_ticket/b-6.jpg" alt="">
        </a>
      </div>
      <div class="im">
        <a>
          <img src="../../../../../assets/img_ticket/b-7.jpg" alt="">
        </a>
      </div>
      <div class="im">
        <a>
          <img src="../../../../../assets/img_ticket/b-8.jpg" alt="">
        </a>
      </div>
      <div class="im">
        <a>
          <img src="../../../../../assets/img_ticket/b-9.jpg" alt="">
        </a>
      </div>
      <div class="im">
        <a>
          <img src="../../../../../assets/img_ticket/b-10.jpg" alt="">
        </a>
      </div>
      <div class="im">
        <a>
          <img src="../../../../../assets/img_ticket/b-11.png" alt="">
        </a>
      </div>
      <div class="im">
        <a>
          <img src="../../../../../assets/img_ticket/b-12.jpg" alt="">
        </a>
      </div>
      <div class="im">
        <a>
          <img src="../../../../../assets/img_ticket/b-13.jpg" alt="">
        </a>
      </div>
    </div>

    <div class="boton_home">
      <a [routerLink]="['/']">
        <button class="btnx">Ir a HOME</button>
      </a>
    </div>

    <div class="contenido">

    </div>



    <div class="barra_der ">

      <div class="im">
        <a>
          <img src="../../../../../assets/img_ticket/c-1.png" alt="">
        </a>
      </div>
      <div class="im">
        <a>
          <img src="../../../../../assets/img_ticket/c-2.png" alt="">
        </a>
      </div>
      <div class="im">
        <a target="_blank" [routerLink]="['/speechsticket/planpago']">
          <img src="../../../../../assets/img_ticket/c-3.jpg" alt="">
        </a>
      </div>
      <div class="im">
        <a>
          <img src="../../../../../assets/img_ticket/c-4.png" alt="">
        </a>
      </div>
      <div class="im">
        <a target="_blank" [routerLink]="['/speechsticket/recover']">
          <img src="../../../../../assets/img_ticket/c-5.jpg" alt="">
        </a>
      </div>
      <div class="im">
        <a>
          <img src="../../../../../assets/img_ticket/c-6.png" alt="">
        </a>
      </div>
      <div class="im">
        <a target="_blank" [routerLink]="['/speechsticket/800']">
          <img src="../../../../../assets/img_ticket/c-8.png" alt="">
        </a>
      </div>
      <div class="im">
        <a target="_blank" [routerLink]="['/speechsticket/pri']">
          <img src="../../../../../assets/img_ticket/c-9.png" alt="">
        </a>
      </div>
      <div class="im">
        <a>
          <img src="../../../../../assets/img_ticket/c-10.jpg" alt="">
        </a>
      </div>
      <div class="im">
        <a>
          <img src="../../../../../assets/img_ticket/c-11.jpg" alt="">
        </a>
      </div>
      <div class="im">
        <a>
          <img src="../../../../../assets/img_ticket/c-14.jpg" alt="">
        </a>
      </div>
      <div class="im">
        <a>
          <img src="../../../../../assets/img_ticket/c-12.jpg" alt="">
        </a>
      </div>
      <div class="im">
        <a>
          <img src="../../../../../assets/img_ticket/c-13.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
