.nav {
  height: 40px;
  color: #d1deec;
  background-color: #002a52;
  border-bottom: 2px solid #888;
  border-left: 2px solid;
}

.cont {
  height: 100vh;
  overflow: auto;
  width: calc(100% + 12px);
  padding: 3px;
}
.perfil{
  height: 100%;
  width: 260px;
  background-color: #85a8cc;
  color: #fff;
}
.cont_main{
  background-color: #dbeeff;
}
.tt {

  padding: 5px;
  padding-top: 0;
}
.user {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}
.opciones{
  width: 100%;
  padding-bottom: 12px;
  border-bottom: solid 1px;
}

.bton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: solid 2px;
}
.bton svg{
  margin-top: -2px;
}


.telefonos {
  padding: 1rem;
  margin: 1rem 1rem 1rem 1rem;
  border-radius: 10px;
  box-shadow: #00000094 2px 4px 7px;
  width: calc(100% - 2rem);
}

.font-w {
  font-weight: 600;
}

.req, .errores{
  color: red;
}


.opc{
  background-color: #002a52;
  padding: 10px;
  color: #daddde;
 /*  box-shadow: 3px 2px 5px 1px; */
}

.opc span{
  font-size: 23px;
}
