.cont {
  height: 100vh;
  width: 5vw;
  min-width: 52px;
  background-color: #002a51;
  display: flex;
  flex-direction: column;
}

ul {
  margin: auto;
  padding: 0!important;
}

.selected {
  color: white;
}

li a {
  color: #a3a6a8;
}

li a:hover {
  color: white;
  font-size: 140%;
}

.span_tittle {
  position: absolute;
  left: 75px;
  color: #002a51;
  display: none;
}

li a:hover~.span_tittle {
  display: block;
}

.span_tittle {
  background-color: #fff;
  border: solid 1px #002a51;
  padding: 3px 10px 0px 10px;
}
