.nav {
  display: flex;
  flex-direction: column;
  color: #d1deec;
  height: 40px;
  background-color: #184883;
  border-bottom: solid 2px;
}

.tabla{
  margin-top: 2rem;
  background-color: #fff;
  padding: 10px;
  box-shadow: -3px 7px 11px 2px;
  max-height: 87vh;
  overflow: auto;
}
.table_mod{
  background-color: #002a51;
  color: white;
}
