<div class="mainP">
  <div class="head w100">
    <nav>
      <ul class="nav nav-tabs">
        <li class="nav-item" (click)="opcion = 1">
          <a class="nav-link" [class.active]="opcion==1" aria-current="page" >Lista</a>
        </li>
        <li class="nav-item" (click)="opcion = 2">
          <a class="nav-link" [class.active]="opcion==2" >Agregar Nuevo</a>
        </li>
        <li class="nav-item" (click)="opcion = 3">
          <a class="nav-link" [class.active]="opcion==3" >Documentos vencidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled"  tabindex="-1">Notas</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="body_doc w100 " *ngIf="opcion == 1">
    <div class="tabla mx-3">
      <table class="table table-striped table-hover ">
        <thead>
          <tr class="table_mod">
            <th scope="col">Fecha</th>
            <th scope="col">Tipo Documento</th>
            <th scope="col">Descripción</th>
            <th scope="col">Vencimiento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataClienteDocument; index as i">
            <td>{{ item.fecha_creacion }}</td>
              <td *ngIf="item.tipo_documento == '0'">Seguro Social</td>
              <td *ngIf="item.tipo_documento == '1'">Bill</td>
              <td *ngIf="item.tipo_documento == '2'">Statement Bancario</td>
              <td *ngIf="item.tipo_documento == '3'">Colilla de Pago</td>
              <td *ngIf="item.tipo_documento == '5'">Contrato Arrendamiento</td>
              <td *ngIf="item.tipo_documento == '6'">Tax - W2</td>
              <td *ngIf="item.tipo_documento == '10'">Licencia</td>
              <td *ngIf="item.tipo_documento == '7'">Formula 1040</td>
              <td *ngIf="item.tipo_documento == '8'">Formula 1099</td>
              <td *ngIf="item.tipo_documento == '9'">Otro Documento</td>
              <td *ngIf="item.tipo_documento == 'bill'">Bill</td>
            <td>{{ item.descripcion | slice:0:20 }}</td>
            <td>{{ item.vencimiento }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="visual my-auto">
      <div class="">
        <div class="title"><h5>Vista del Documento</h5></div>
        <div class="img_min">
          <img src="../../../../../assets/img_ticket/sac_doblepago.png" alt="imagen de documento">
        </div>
      </div>
      <div class="data mx-3">
        <div class="text">
          <p>Descripción del documento.</p>
        </div>
        <div class="descarg">
          <button type="button" class="btn btn-danger btn-sm">Descargar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="body_doc w100 " *ngIf="opcion == 2">
    <div class="conte d-flex w100">
      <div class="formulario">
        <div class="marco">
          <h5 class="sub_t">Nuevo Documento</h5>
          <div class="row g-3 p-2 mn" >
            <div class="col-auto">
              <label for="tipo_documentoSel" class="font-w">
                Tipo Documento</label>
              <select name="tipo_documento" id="tipo_documentoSel" class="form-control"
                [(ngModel)]="tipo_documento">
                <option value="0" name="tipo_documento">Seguro Social</option>
                <option value="1" name="tipo_documento">Bill</option>
                <option value="2" name="tipo_documento">Statement Bancario</option>
                <option value="3" name="tipo_documento">Colilla de Pago</option>
                <option value="5" name="tipo_documento">Contrato Arrendamiento</option>
                <option value="6" name="tipo_documento">Tax - W2</option>
                <option value="10" name="tipo_documento">Licencia</option>
                <option value="7" name="tipo_documento">Formula 1040</option>
                <option value="8" name="tipo_documento">Formula 1099</option>
                <option value="9" name="tipo_documento">Otro Documento</option>
              </select>
            </div>

            <div class="col-auto">
              <label for="descripcion" class="font-w">Descripción</label>
              <input type="text" name="descripcion" class="form-control" maxlength="50" pattern="([a-zA-Z0-9¡¿!.,: ;\?]{1,50})" [(ngModel)]="descripcion" #descripcionI="ngModel" />
              <div class="errores" *ngIf="descripcionI.invalid && descripcionI.dirty">
                <div *ngIf="descripcionI.errors.pattern">
                  <small>Use solo <b>caracteres</b> comunes</small>
                </div>
              </div>
            </div>

            <div class="col-auto">
              <label for="vencimiento" class="font-w">Vencimiento</label>
              <input type="date" name="vencimiento" class="form-control" pattern="^(\d{4})(\/|-)(0[1-9]|1[0-2])(\/|-)([0-2][0-9]|3[0-1])$" [(ngModel)]="vencimiento" #vencimientoI="ngModel" />
              <div class="errores" *ngIf="vencimientoI.invalid && vencimientoI.dirty">
                <div *ngIf="vencimientoI.errors.pattern">
                  <small>Formato de <b>Fecha</b> no válido</small>
                </div>
              </div>
            </div>

          </div>
          <div class="row g-3 mt-4 p-2">
            <div class="col-auto">
              <label for="descripcion" class="font-w">Subir Documento</label>
              <div class="{{ classInputMod }}">
                <input type="file" #documento id="documentos" (change)="checkDocumento($event)" class="input-file" value="" />
                <span>...</span>
              </div>
            </div>
            <div class="col-auto">
              <label class="font-w d-block">Guardar</label>
              <button type="button" class="btn btn-success" style="border: solid 3px darkgreen" [disabled]="!guardar || !tipo_documento" (click)="enviarDoc()">
                Subir Documentación
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="visualDoc">
        <h3 class="vistaP" >Vista Previa</h3>
        <div class="img">
          <img src={{obj}} alt="">

        </div>
      </div>
    </div>
  </div>

  <div class="body_doc w100 " *ngIf="opcion == 3">
    <div class="tabla mx-3">
      <table class="table table-striped table-hover ">
        <thead>
          <tr class="table_mod_red">
            <th scope="col">Vencimiento</th>
            <th scope="col">Tipo Documento</th>
            <th scope="col">Descripción</th>
            <th scope="col">Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of documentVencido; index as i">
            <td>{{ item.vencimiento }}</td>
            <td>{{ item.fecha_creacion }}</td>
              <td *ngIf="item.tipo_documento == '0'">Seguro Social</td>
              <td *ngIf="item.tipo_documento == '1'">Bill</td>
              <td *ngIf="item.tipo_documento == '2'">Statement Bancario</td>
              <td *ngIf="item.tipo_documento == '3'">Colilla de Pago</td>
              <td *ngIf="item.tipo_documento == '5'">Contrato Arrendamiento</td>
              <td *ngIf="item.tipo_documento == '6'">Tax - W2</td>
              <td *ngIf="item.tipo_documento == '10'">Licencia</td>
              <td *ngIf="item.tipo_documento == '7'">Formula 1040</td>
              <td *ngIf="item.tipo_documento == '8'">Formula 1099</td>
              <td *ngIf="item.tipo_documento == '9'">Otro Documento</td>
              <td *ngIf="item.tipo_documento == 'bill'">Bill</td>
            <td>{{ item.descripcion | slice:0:20 }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
