

<div class="main">
  <app-nav-bar></app-nav-bar>

  <div class="body_main">
    <div class="nav">
      <app-nav-bar-sac [opcionVer]="opcionVer"></app-nav-bar-sac>
    </div>

    <div class="tabla">
      <table class="table table-striped table-hover ">
        <thead>
          <tr class="table_mod">
            <th scope="col">Id</th>
            <th scope="col">cliente</th>
            <th scope="col">Telefono Celular</th>
            <th scope="col">Telefono Trabajo</th>
            <th scope="col">Telefono Fijo</th>
            <th scope="col">Telefono Otro</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <tr *ngFor="let item of dataClientes" (click)="setId(item.id)">
              <th scope="row">{{ item.id }}</th>
              <td>{{ item.nombres }}&nbsp;{{ item.apellidos }}</td>
              <td>{{ item.telmovil }}</td>
              <td>{{ item.teltrabajo }}</td>
              <td>{{ item.telcasa }}</td>
              <td>{{ item.telotro }}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
