<div class="main">
  <div class="nav d-flex">
    <app-nav-bar-sac [opcionVer]="opcionVer"></app-nav-bar-sac>
  </div>

  <div class="tabla">
    <table class="table table-striped table-hover ">
      <thead>
        <tr class="table_mod">
          <th scope="col">#</th>
          <th scope="col">cliente</th>
          <th scope="col">Telefono Principal</th>
          <th scope="col">Telefono Casa</th>
          <th scope="col">Telefono Trabajo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark Oooto</td>
          <td>31211</td>
          <td>47758</td>
          <td>42323</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mark Oooto222</td>
          <td>31211</td>
          <td>47758</td>
          <td>42323</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mark 343Oooto</td>
          <td>31211</td>
          <td>47758</td>
          <td>42323</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
